### Importing Packages

In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
df = pd.DataFrame()

for dataset in os.listdir('data1/'):
    if 'dataset_thefork-scraper' in dataset:
        data = pd.read_csv(f'data1/{dataset}')
        df = pd.concat([df, data])
        print(f'done: {dataset}')

done: dataset_thefork-scraper_2023-09-28_16-08-58-697.csv
done: dataset_thefork-scraper_2023-09-29_14-40-48-960.csv
done: dataset_thefork-scraper_2023-09-29_14-44-53-581.csv
done: dataset_thefork-scraper_2023-09-29_14-51-18-484.csv
done: dataset_thefork-scraper_2023-09-29_14-59-14-663.csv
done: dataset_thefork-scraper_2023-09-29_15-01-18-951.csv
done: dataset_thefork-scraper_2023-09-29_15-03-55-503.csv
done: dataset_thefork-scraper_2023-09-29_15-06-33-619.csv
done: dataset_thefork-scraper_2023-09-29_15-09-07-860.csv
done: dataset_thefork-scraper_2023-09-29_15-14-25-833.csv
done: dataset_thefork-scraper_2023-09-29_15-17-53-501.csv
done: dataset_thefork-scraper_2023-09-29_15-20-37-251.csv
done: dataset_thefork-scraper_2023-09-29_15-22-06-470.csv
done: dataset_thefork-scraper_2023-09-29_15-28-02-815.csv
done: dataset_thefork-scraper_2023-09-29_15-29-38-707.csv
done: dataset_thefork-scraper_2023-09-29_15-30-56-559.csv
done: dataset_thefork-scraper_2023-09-29_15-34-17-369.csv
done: dataset_thefork-scraper_2023-09-29_15-35-58-245.csv
done: dataset_thefork-scraper_2023-09-29_15-37-17-441.csv
done: dataset_thefork-scraper_2023-09-29_15-51-42-323.csv
done: dataset_thefork-scraper_2023-09-29_15-53-07-077.csv
done: dataset_thefork-scraper_2023-09-29_15-55-40-658.csv
done: dataset_thefork-scraper_2023-09-29_16-18-34-648 (2).csv
done: dataset_thefork-scraper_2023-09-29_16-18-34-648.csv
done: dataset_thefork-scraper_2023-09-29_16-37-00-281.csv
done: dataset_thefork-scraper_2023-09-29_16-44-14-100.csv

__Export__

In [7]:
df.to_csv('all_thefork_scrapes.csv')

### Filtering relevant columns

In [8]:
list(df.columns)

['address',
 'averagePrice',
 'chefName',
 'cuisine',
 'currency',
 'customerPhotos/0',
 'customerPhotos/1',
 'customerPhotos/2',
 'customerPhotos/3',
 'customerPhotos/4',
 'customerPhotos/5',
 'customerPhotos/6',
 'customerPhotos/7',
 'customerPhotos/8',
 'customerPhotos/9',
 'customerPhotos/10',
 'customerPhotos/11',
 'customerPhotos/12',
 'customerPhotos/13',
 'customerPhotos/14',
 'customerPhotos/15',
 'customerPhotos/16',
 'customerPhotos/17',
 'customerPhotos/18',
 'customerPhotos/19',
 'description',
 'hasLoyaltyProgram',
 'isBookable',
 'latitude',
 'location',
 'longitude',
 'maxPartySize',
 'name',
 'offer',
 'openingHours',
 'paymentAccepted/0',
 'paymentAccepted/1',
 'paymentAccepted/2',
 'paymentAccepted/3',
 'paymentAccepted/4',
 'paymentAccepted/5',
 'paymentAccepted/6',
 'paymentAccepted/7',
 'paymentAccepted/8',
 'phone',
 'photo',
 'photos/0',
 'photos/1',
 'photos/2',
 'photos/3',
 'photos/4',
 'photos/5',
 'photos/6',
 'photos/7',
 'photos/8',
 'photos/9',
 'photos/10',
 'photos/11',
 'photos/12',
 'photos/13',
 'photos/14',
 'photos/15',
 'photos/16',
 'photos/17',
 'photos/18',
 'photos/19',
 'photos/20',
 'photos/21',
 'photos/22',
 'photos/23',
 'photos/24',
 'photos/25',
 'photos/26',
 'photos/27',
 'photos/28',
 'photos/29',
 'photos/30',
 'photos/31',
 'photos/32',
 'photos/33',
 'photos/34',
 'photos/35',
 'photos/36',
 'photos/37',
 'photos/38',
 'photos/39',
 'photos/40',
 'photos/41',
 'photos/42',
 'photos/43',
 'photos/44',
 'photos/45',
 'photos/46',
 'photos/47',
 'photos/48',
 'photos/49',
 'photos/50',
 'photos/51',
 'photos/52',
 'photos/53',
 'photos/54',
 'photos/55',
 'photos/56',
 'photos/57',
 'photos/58',
 'photos/59',
 'photos/60',
 'photos/61',
 'photos/62',
 'photos/63',
 'photos/64',
 'photos/65',
 'photos/66',
 'photos/67',
 'photos/68',
 'photos/69',
 'photos/70',
 'photos/71',
 'photos/72',
 'photos/73',
 'photos/74',
 'photos/75',
 'photos/76',
 'photos/77',
 'photos/78',
 'photos/79',
 'photos/80',
 'photos/81',
 'photos/82',
 'photos/83',
 'photos/84',
 'photos/85',
 'photos/86',
 'photos/87',
 'photos/88',
 'photos/89',
 'photos/90',
 'radius',
 'ratingValue',
 'reviewCount',
 'reviewList/0/ambienceRatingValue',
 'reviewList/0/date',
 'reviewList/0/foodRatingValue',
 'reviewList/0/ratingValue',
 'reviewList/0/review',
 'reviewList/0/reviewerName',
 'reviewList/0/serviceRatingValue',
 'reviewList/1/ambienceRatingValue',
 'reviewList/1/date',
 'reviewList/1/foodRatingValue',
 'reviewList/1/ratingValue',
 'reviewList/1/review',
 'reviewList/1/reviewerName',
 'reviewList/1/serviceRatingValue',
 'reviewList/2/ambienceRatingValue',
 'reviewList/2/date',
 'reviewList/2/foodRatingValue',
 'reviewList/2/ratingValue',
 'reviewList/2/review',
 'reviewList/2/reviewerName',
 'reviewList/2/serviceRatingValue',
 'reviewList/3/ambienceRatingValue',
 'reviewList/3/date',
 'reviewList/3/foodRatingValue',
 'reviewList/3/ratingValue',
 'reviewList/3/review',
 'reviewList/3/reviewerName',
 'reviewList/3/serviceRatingValue',
 'reviewList/4/ambienceRatingValue',
 'reviewList/4/date',
 'reviewList/4/foodRatingValue',
 'reviewList/4/ratingValue',
 'reviewList/4/review',
 'reviewList/4/reviewerName',
 'reviewList/4/serviceRatingValue',
 'reviewList/5/ambienceRatingValue',
 'reviewList/5/date',
 'reviewList/5/foodRatingValue',
 'reviewList/5/ratingValue',
 'reviewList/5/review',
 'reviewList/5/reviewerName',
 'reviewList/5/serviceRatingValue',
 'reviewList/6/ambienceRatingValue',
 'reviewList/6/date',
 'reviewList/6/foodRatingValue',
 'reviewList/6/ratingValue',
 'reviewList/6/review',
 'reviewList/6/reviewerName',
 'reviewList/6/serviceRatingValue',
 'reviewList/7/ambienceRatingValue',
 'reviewList/7/date',
 'reviewList/7/foodRatingValue',
 'reviewList/7/ratingValue',
 'reviewList/7/review',
 'reviewList/7/reviewerName',
 'reviewList/7/serviceRatingValue',
 'reviewList/8/ambienceRatingValue',
 'reviewList/8/date',
 'reviewList/8/foodRatingValue',
 'reviewList/8/ratingValue',
 'reviewList/8/review',
 'reviewList/8/reviewerName',
 'reviewList/8/serviceRatingValue',
 'reviewList/9/ambienceRatingValue',
 'reviewList/9/date',
 'reviewList/9/foodRatingValue',
 'reviewList/9/ratingValue',
 'reviewList/9/review',
 'reviewList/9/reviewerName',
 'reviewList/9/serviceRatingValue',
 'reviewList/10/ambienceRatingValue',
 'reviewList/10/date',
 'reviewList/10/foodRatingValue',
 'reviewList/10/ratingValue',
 'reviewList/10/review',
 'reviewList/10/reviewerName',
 'reviewList/10/serviceRatingValue',
 'reviewList/11/ambienceRatingValue',
 'reviewList/11/date',
 'reviewList/11/foodRatingValue',
 'reviewList/11/ratingValue',
 'reviewList/11/review',
 'reviewList/11/reviewerName',
 'reviewList/11/serviceRatingValue',
 'reviewList/12/ambienceRatingValue',
 'reviewList/12/date',
 'reviewList/12/foodRatingValue',
 'reviewList/12/ratingValue',
 'reviewList/12/review',
 'reviewList/12/reviewerName',
 'reviewList/12/serviceRatingValue',
 'reviewList/13/ambienceRatingValue',
 'reviewList/13/date',
 'reviewList/13/foodRatingValue',
 'reviewList/13/ratingValue',
 'reviewList/13/review',
 'reviewList/13/reviewerName',
 'reviewList/13/serviceRatingValue',
 'reviewList/14/ambienceRatingValue',
 'reviewList/14/date',
 'reviewList/14/foodRatingValue',
 'reviewList/14/ratingValue',
 'reviewList/14/review',
 'reviewList/14/reviewerName',
 'reviewList/14/serviceRatingValue',
 'reviewList/15/ambienceRatingValue',
 'reviewList/15/date',
 'reviewList/15/foodRatingValue',
 'reviewList/15/ratingValue',
 'reviewList/15/review',
 'reviewList/15/reviewerName',
 'reviewList/15/serviceRatingValue',
 'reviewList/16/ambienceRatingValue',
 'reviewList/16/date',
 'reviewList/16/foodRatingValue',
 'reviewList/16/ratingValue',
 'reviewList/16/review',
 'reviewList/16/reviewerName',
 'reviewList/16/serviceRatingValue',
 'reviewList/17/ambienceRatingValue',
 'reviewList/17/date',
 'reviewList/17/foodRatingValue',
 'reviewList/17/ratingValue',
 'reviewList/17/review',
 'reviewList/17/reviewerName',
 'reviewList/17/serviceRatingValue',
 'reviewList/18/ambienceRatingValue',
 'reviewList/18/date',
 'reviewList/18/foodRatingValue',
 'reviewList/18/ratingValue',
 'reviewList/18/review',
 'reviewList/18/reviewerName',
 'reviewList/18/serviceRatingValue',
 'reviewList/19/ambienceRatingValue',
 'reviewList/19/date',
 'reviewList/19/foodRatingValue',
 'reviewList/19/ratingValue',
 'reviewList/19/review',
 'reviewList/19/reviewerName',
 'reviewList/19/serviceRatingValue',
 'style',
 'tags/0',
 'tags/1',
 'tags/2',
 'tags/3',
 'tags/4',
 'tags/5',
 'tags/6',
 'tags/7',
 'url',
 'paymentAccepted/9',
 'paymentAccepted/10',
 'photos/91',
 'photos/92',
 'photos/93',
 'photos/94',
 'photos/95',
 'photos/96',
 'photos/97',
 'photos/98',
 'photos/99',
 'photos/100',
 'photos/101',
 'photos/102',
 'photos/103',
 'photos/104',
 'photos/105']

In [9]:
filtered = df[['photo',
 'name',
 'cuisine',
 'address',
 'averagePrice',
 'ratingValue',
 'reviewCount',
 'url',
 'offer',
 'tags/0',
 'tags/1',
 'tags/2',
 'tags/3',
 'tags/4',
 'tags/5',
 'tags/6',
 'tags/7',
 'chefName',
 'currency', 'description',
 'hasLoyaltyProgram',
 'isBookable',
 'latitude',
 'longitude',
 'maxPartySize',
 'openingHours',
 'phone', 'style', 'location']].copy()

### Dealing with location consistency

In [11]:
filtered['location2'] = filtered['address'].map(lambda x: str(x).split(',')[-1])

In [30]:
filtered['location3'] = filtered['location'].map(lambda x: str(x).split(',')[0])

In [31]:
filtered[['address', 'location', 'location2', 'location3']]

,address,location,location2,location3
0,"R. José Fontana 10,8200-295,Albufeira","Albufeira, Portugal",Albufeira,Albufeira
1,"R. Almeida Garrett 71,8200-272,Albufeira","Albufeira, Portugal",Albufeira,Albufeira
2,"R. da Torre Velha,8200,Albufeira","Albufeira, Portugal",Albufeira,Albufeira
3,"Tv. Antero de Quental 4B r/c,8200-296,Albufeira","Albufeira, Portugal",Albufeira,Albufeira
4,"R. Alexandre Herculano 11,8200-269,Albufeira","Albufeira, Portugal",Albufeira,Albufeira
...,...,...,...,...
187,"Praça dos Poveiros 104,4000-033,Porto","Porto, Portugal",Porto,Porto
188,"Largo de Mompilher 26,4050-392,Porto","Porto, Portugal",Porto,Porto
189,"R. de São João 54,4050-553,Porto","Porto, Portugal",Porto,Porto
190,"R. de Mouzinho da Silveira 228,4050-417,Porto","Porto, Portugal",Porto,Porto
191,"YOTEL Porto - Rua de Gonçalo Cristóvão, 216,40...","Porto, Portugal",Porto,Porto

In [32]:
filtered['matching_locations'] = np.where(filtered['location2'] == filtered['location3'], 1, 0)

In [33]:
filtered[['address', 'location', 'location2', 'location3', 'matching_locations']]

,address,location,location2,location3,matching_locations
0,"R. José Fontana 10,8200-295,Albufeira","Albufeira, Portugal",Albufeira,Albufeira,1
1,"R. Almeida Garrett 71,8200-272,Albufeira","Albufeira, Portugal",Albufeira,Albufeira,1
2,"R. da Torre Velha,8200,Albufeira","Albufeira, Portugal",Albufeira,Albufeira,1
3,"Tv. Antero de Quental 4B r/c,8200-296,Albufeira","Albufeira, Portugal",Albufeira,Albufeira,1
4,"R. Alexandre Herculano 11,8200-269,Albufeira","Albufeira, Portugal",Albufeira,Albufeira,1
...,...,...,...,...,...
187,"Praça dos Poveiros 104,4000-033,Porto","Porto, Portugal",Porto,Porto,1
188,"Largo de Mompilher 26,4050-392,Porto","Porto, Portugal",Porto,Porto,1
189,"R. de São João 54,4050-553,Porto","Porto, Portugal",Porto,Porto,1
190,"R. de Mouzinho da Silveira 228,4050-417,Porto","Porto, Portugal",Porto,Porto,1
191,"YOTEL Porto - Rua de Gonçalo Cristóvão, 216,40...","Porto, Portugal",Porto,Porto,1

In [36]:
filtered[(filtered['matching_locations'] == 0) & (filtered['location'].isnull() == False)][['address', 'location', 'location2', 'location3']]

,address,location,location2,location3
116,"R. Torre da Medronheira 1,8200-650,Olhos de Água","Albufeira, Portugal",Olhos de Água,Albufeira
17,"Praça Egas Moniz 8,3870-233,Murtosa","Aveiro, Portugal",Murtosa,Aveiro
21,"Av. José Estevão 687,3830-554,Gafanha da Nazaré","Aveiro, Portugal",Gafanha da Nazaré,Aveiro
22,"R. Dr. Manuel Pinto 8,3750-140,Águeda","Aveiro, Portugal",Águeda,Aveiro
23,"Bico do Muranzel,3870-301,Torreira","Aveiro, Portugal",Torreira,Aveiro
...,...,...,...,...
64,"R. de São Salvador 6A,6200-196,Covilhã","Fundão, Portugal",Covilhã,Fundão
65,"R. José Ramalho 109,6200,Covilhã","Fundão, Portugal",Covilhã,Fundão
66,"Estrada Nacional 339 - Penhas da Saúde,6200-32...","Fundão, Portugal",Covilhã,Fundão
118,"R. Torre da Medronheira 1,8200-650,Olhos de Água","Albufeira, Portugal",Olhos de Água,Albufeira
118,"R. Torre da Medronheira 1,8200-650,Olhos de Água","Albufeira, Portugal",Olhos de Água,Albufeira

### Handling Missing Values

In [41]:
filtered.isnull().any()

photo                 False
name                  False
cuisine                True
address               False
averagePrice          False
ratingValue            True
reviewCount            True
url                   False
offer                  True
tags/0                False
tags/1                 True
tags/2                 True
tags/3                 True
tags/4                 True
tags/5                 True
tags/6                 True
tags/7                 True
chefName               True
currency              False
description            True
hasLoyaltyProgram     False
isBookable            False
latitude              False
longitude             False
maxPartySize           True
openingHours           True
phone                  True
style                  True
location               True
location2             False
matching_locations    False
location3             False
dtype: bool

### Formating the openingHours feature

In [56]:
def clean_openinghours(observation):
    opening_hours_dict = {}
    for day in str(observation).split('\r\n'):
        day_week = f'{day.partition("y")[0]}y'
        opening_hours_dict[day_week] = day.partition("y")[2].strip()
    return opening_hours_dict

In [57]:
filtered['openingHours2'] = filtered['openingHours'].map(lambda x: clean_openinghours(x))

In [58]:
filtered[['openingHours', 'openingHours2']]

,openingHours,openingHours2
0,"Monday 12:00 - 15:00, 17:30 - 23:00\r\nTuesday...","{'Monday': '12:00 - 15:00, 17:30 - 23:00', 'Tu..."
1,Monday 12:00 - 22:30\r\nTuesday 12:00 - 22:30\...,"{'Monday': '12:00 - 22:30', 'Tuesday': '12:00 ..."
2,Monday -\r\nTuesday 18:00 - 22:00\r\nWednesday...,"{'Monday': '-', 'Tuesday': '18:00 - 22:00', 'W..."
3,"Monday 11:30 - 14:30, 18:00 - 24:00\r\nTuesday...","{'Monday': '11:30 - 14:30, 18:00 - 24:00', 'Tu..."
4,"Monday -\r\nTuesday 12:00 - 16:00, 19:00 - 24:...","{'Monday': '-', 'Tuesday': '12:00 - 16:00, 19:..."
...,...,...
187,"Monday 12:00 - 15:30, 18:30 - 21:30\r\nTuesday...","{'Monday': '12:00 - 15:30, 18:30 - 21:30', 'Tu..."
188,Monday 16:00 - 02:00\r\nTuesday 16:00 - 02:00\...,"{'Monday': '16:00 - 02:00', 'Tuesday': '16:00 ..."
189,Monday 12:00 - 24:00\r\nTuesday 12:00 - 24:00\...,"{'Monday': '12:00 - 24:00', 'Tuesday': '12:00 ..."
190,Monday 12:30 - 23:00\r\nTuesday 12:30 - 23:00\...,"{'Monday': '12:30 - 23:00', 'Tuesday': '12:30 ..."
191,Monday 12:30 - 21:30\r\nTuesday 12:30 - 21:30\...,"{'Monday': '12:30 - 21:30', 'Tuesday': '12:30 ..."

In [59]:
filtered.to_csv('to_clean_data.csv')